#Password và secrets - tuyệt đối không đưa lên Github
.dlt/secrets.toml
**/secrets.toml
profiles.yml
.env
*.pem
*.p8

#File rác của Python
__pycache__
*.py[cod]
venv/
.venv/

#File dbt tự sinh ra khi chạy
target/
dbt_packages/
logs/

#File Airflow tự sinh
airflow.db
airflow.cfg
.astro/
